<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twyst.app.android">

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".TwystApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/GOOGLE_MAP_KEY_ID" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activities.NoPermissionsActivity"
            android:label="Permissions Required"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PreMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/discover"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FiltersActivity"
            android:label="Filters"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OrderOnlineActivity"
            android:label="@string/order_online"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OfferDisplayActivity"
            android:label="@string/order_online"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activities.AvailableOffersActivity"
            android:label="@string/available_offers"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OrderSummaryActivity"
            android:label="@string/order_details"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeedbackActivity"
            android:label="@string/submit_feedback"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OrderHistoryActivity"
            android:label="@string/title_activity_my_orders"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.PaymentOptionsActivity"
            android:label="Choose Payment Option"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.NotificationActivity"
            android:label="@string/notification"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobikwik.sdk.MobikwikSDK"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="MobiKwik"
            android:screenOrientation="portrait"
            android:theme="@style/MKSDKTransparent"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.mobikwik.sdk.PGWebView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="BankPage"
            android:screenOrientation="portrait"
            android:theme="@style/MKSDKTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.mobikwik.sdk.PaymentOptions"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MKSDKTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.mobikwik.sdk.PaymentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MKSDKTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.mobikwik.sdk.GetUserDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MKSDKTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.InviteFriendsActivity"
            android:label="@string/invite"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="twyst" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WriteToUsActivity"
            android:label="@string/write_to_us"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SuggestOutletActivity"
            android:label="@string/suggest_outlet"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FaqActivity"
            android:label="@string/faq"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:label="@string/profile"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Address Details -->
        <activity
            android:name=".activities.AddressDetailsActivity"
            android:label="@string/choose_address"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddressAddNewActivity"
            android:label="@string/address_add_new"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.AddressMapActivity"
            android:label="@string/action_search"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OrderTrackingActivity"
            android:label="@string/track_order"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- Redeem Screens -->
        <activity
            android:name=".activities.RechargeActivity"
            android:label="@string/title_activity_recharge"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        <activity
            android:name=".activities.ShoppingVouchersActivity"
            android:label="@string/title_activity_shopping_vouchers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ShoppingVoucherListActivity"
            android:label="@string/title_activity_voucher_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.FoodVouchersActivity"
            android:label="@string/title_activity_food_vouchers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.TwystBucksHistoryActivity"
            android:label="@string/title_activity_twyst_bucks_history"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--
          .
          WakefulBroadcastReceiver that will receive intents from GCM
          services and hand them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <receiver android:name=".sms.SmsListener">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".sms.ReferrerReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.appsflyer.AppsFlyerLib">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="AppsFlyerDevKey"
            android:value="yezoub3j6KZJt3VPyKoJ2Z" />

        <receiver android:name=".alarm.NotificationPublisherReceiver" />

        <service android:name=".gcm.GcmIntentService" />
        <service android:name=".service.LocationService" />
        <service
            android:name=".service.FetchAddressIntentService"
            android:exported="false" />

        <activity android:name=".activities.VoucherDetailsActivity"></activity>
    </application>

</manifest>
